<div data-role="header">
  <h1><%= @event.title %></h1>
  <%= link_to 'Home', events_url, "class" => "ui-btn-right" %>
</div>

<div data-role="content">
    <p>
        <b>Date:</b>
        <%= @event.starts_at.strftime( '%b %d') %>
    </p>

    <p>
        <b>Band:</b>
        <%= @event.band %>
    </p>

    <p>
        <b>Venue:</b>
        <%= @event.venue %>
    </p>

    <p>
        <b>Description:</b>
        <%= @event.description %>
    </p>

</div>
