<div data-role="header">
  <h1><%= @event.title %></h1>
  <%= link_to 'Home', events_url, "class" => "ui-btn-right" %>
</div>

<div data-role="content">
  <b>Starts at:</b>
  <%= @event.starts_at %>
  <b>Ends at:</b>
  <%= @event.ends_at %>

  <b>Venue:</b>
  <%= @event.venue %>

  <b>Description:</b>
  <%= @event.description %>
  <b>Band:</b>
  <%= @event.band %>
</div>
